body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-attachment: fixed; 
  background-size:100%;
}

a {
  color: #00B7FF;
}

.div1 {
  width: 500px;
  height: 40px;
  border: 1px solid blue;
}

.form-submit {
  background-color: #00af98; 
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

table.hovertable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.hovertable th {
  background-color:#c3dde0;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.hovertable tr {
  background-color:#d4e3e5;
}
table.hovertable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}

h1 {
  border-radius: 6px 6px 6px 6px;
  color: #00aeff;
  font-family:"微软雅黑", "宋体", "黑体", Arial;
  font-size: 30px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin: 18px 0 ;
  padding: 8px 0 5px 5px;
  text-shadow: 2px 2px 3px #808080;
}
